.button-row {
  display: -webkit-box;
  display: flex;
  margin: 1em 15px;
}

.button {
  font-size: 1.1em;
  padding: 10px 15px;
  background: #F8F8F8;
  border: 1px solid #DDD;
  border-right-width: 0;
  border-radius: 0;
}

.button:hover {
  background: #DEF;
  cursor: pointer;
}

.button.is-active {
  background: #19F;
  color: white;
}

.button-row .button:first-child {
  border-radius: 8px 0 0 8px;
}

.button-row .button:last-child {
  border-right-width: 1px;
  border-radius: 0 8px 8px 0;
}

@media only screen and (max-width: 798px) {
    .button-row {
      margin: 0;
    }
    .button {
      width: 100%;
      padding: 20px 15px;
    }
    .button-row .button:first-child, .button-row .button:last-child {
      border: 0;
      border-radius: 0;
    }
}