html, body {
    font-family: helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
}

.columnsContainer {
    position: relative;
    height: calc(100% - 70px);
}
.rightColumn {
    height: 100%;
}

@media screen and (min-width: 799px) {
    .rightColumn {
        margin-left: 15em;
    }
    .leftColumn {
        position: absolute;
        top: 0;
        left: 0;
        width: 15em;
        height: 100%;
    }
}

#cy {
    background-color: antiquewhite;
    margin-top: 0;
    height: 100%;
}